@import url('./loader.css');
@import url('./home/home.css');
@import url('./nav/nav.css');
@import url('./about/about.css');
@import url('./sidebar/sidebar.css');
@import url('./docs/docs.css');
@import url('./github-button/githubButton.css');
/* You can delete the next line if you don't need syntax highlighting */
/* and you can also get rid of the associated file */
@import url('./dracula.css');