loader {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
loader spinner {
    width: 3rem;
    height: 3rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.3);
    border-top-color: var(--ui-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}