@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./views');

/* These rules will be true for elements throughout the entire site/app */
:root {
    --sm-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --md-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --lg-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --xl-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --inner-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.1);
    --ui-color: #29701b;
    --stroke: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

html {
    font-family: "Nunito", Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(200, 200, 200);
}
body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}
* {
    transition: all 0.35s;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: inherit;
}
button {
    transition: none;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}
button:hover {
    transform: scale(1.15);
}
button:active {
    transform: scale(0.85);
}

h1 {
    color: var(--ui-color);
}
.content-slate {
    flex-grow: 1;
    height: calc(100vh - 3.2rem - 69.9px);
    overflow: auto;
}
.content-slate section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: var(--md-shadow);
    background-color: white;
    max-width: 900px;
}

pre {
    max-width: 100%;
    overflow: auto;
}

/* MOBILE FIRST! */
@media screen and (min-width: 768px) {
    .content-slate {
        margin:  0;
        height: calc(100vh - 3.2rem);
    }
    .content-slate section {
        padding: 1rem 4rem;
        margin: 1rem auto;
    }
}